.photobooth-nav {
    background-color: #103058;
    height:50px;
    box-shadow: 0px 1px #041224;
    z-index: 10;
}

.photobooth-panel {
    background-color: #103058;
    color:#ffffff;
    height: 100vh;
    z-index: -1;
}

.photobooth-view {
    padding:30px;
}

.photobooth-picture {
    height:auto;
}

#image_search{
  padding: 20px 0px;
}

#photo {
  max-width: 80%;
  max-height: 50%;
}


img {
    max-width: 100%;
    max-height: 100%;
}
